
<head><link rel="stylesheet" href="/stylesheets/admin/admin-home.css"></head>


<div class="dropdown bg-black pb-1">
    <button class="btn text-white dropdown-toggle  bg-black" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ADMIN
    </button>
    <ul class="dropdown-menu bg-black profile">
        <li><a class="dropdown-item" href="/admin">Home</a></li>
        <li><a class="dropdown-item" href="/admin/products">Products</a></li>
        <li><a class="dropdown-item" href="/admin/users">Customers</a></li>
        <li><a class="dropdown-item" href="/admin/orders">Orders</a></li>
        <li><a class="dropdown-item" href="/admin/coupons">Coupons</a></li>
        <li><a class="dropdown-item" href="/admin/banners">Banners</a></li>
    </ul>
    <span class="float-end"><a href="/admin/logout" title="logout"><img src="/images/user/logout.png" class="logout"
                alt=""></a></span>
</div>

<div class="container w-100 mt-5">
    <div class="row text-white">
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-1">CUSTOMERS
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>123</span>+</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-2">ORDERS
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>36</span>+</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-3">PRODUCTS
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>2547</span>+</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-4">CATEGORY
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>14</span>+</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-5">EARNINGS (monthly)
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>$2868</span>+</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-6">EARNINGS (annual)
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>$13765</span>+</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-7">DELIVERED ORDERS
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>1475</span>+</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-5">
            <div class="box box-8">CANCELLED ORDERS
                <div class="mt-4 ms-3 fw-bolder fs-1"><span>386</span>+</div>
            </div>
        </div>
    </div>
</div>