
<header>
    <nav class="navbar p-2 navbar-expand-md bg-black align-items-center" style="left: 0;">
      <div class="container-fluid p-0 ">
        <a class="navbar-brand p-0" href="/"><img src="/images/user/j&j.png" class="logo" alt=""></a>
      </div>
    </nav>
  </header>