<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row d-flex justify-content-between " style="padding-top: 20vh;">

            <div class="col-4" style="width: 30vw;">
                <img id="userImgView" src='/image/{{user.image}}' onclick="clickImg()" class="rounded-circle"
                    style="width: 50px;height: 50px;cursor: pointer;border: 1px solid #000;" alt=""
                    onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'">

                {{!-- <img src="img/banner_img1.png" alt=""> --}}
                <form class="w-100" action="/update-ac" method="post" enctype="multipart/form-data">
                    <input type="file" accept=".jpg" name="image" id="click" onchange="viewimage(event)"
                        style="width: 0;height: 0;margin-left: -850px" class="form-control">
                    <div class="form-group">
                        <label for="email">Username</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{user.username}}"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile number</label>
                        <input type="tel" class="form-control" id="mobile" name="mobile" disabled
                            value="{{user.mobile}}" placeholder="Enter mobile number">
                    </div>
                    <button type="submit" class="btn btn-block"
                        style="background-color: black;color: white;">Update</button>
                    <hr>

                </form>
            </div>

            {{!-- <div class="image-container">
                <img src="" id="userImgView1" alt="" width="300px">
                <button id="cropimage"></button>
            </div> --}}


            <div class="banner_img col-4" style="width: 30vw;margin-top: 5.1vh;margin-right: 20vw;">
                {{#if pass}}
                <span style="color: rgb(0, 147, 22);background-color: rgb(255, 255, 255);" class="px-1">password
                    updated</span>
                {{/if}}
                {{#if passNo}}
                <span style="color: rgb(242, 0, 0);background-color: rgb(255, 255, 255);" class="px-1">incorrect
                    password</span>
                {{/if}}
                <form class="w-100" style="position: relative;" action="/change-pass" method="post">

                    <hr>
                    <div class="form-group">
                        <label for="current-password" class="" style="width: 20rem;">Current password</label>
                        {{!-- <i class="fa fa-eye" style="position: absolute;margin-top: 3rem;cursor: pointer;"></i>
                        --}}

                        <input type="password" class="form-control" id="current-password" name="currentPassword"
                            placeholder="Enter current password">
                    </div>
                    <div class="form-group">
                        <span id="samePass"></span>
                        <label for="new-password" style="width: 20rem;">New password</label>
                        {{!-- <i class="fa fa-eye" style="position: absolute;margin-top: 3rem;cursor: pointer;"></i>
                        --}}

                        <input type="password" class="form-control" id="new-password" name="newPassword"
                            placeholder="Enter new password">
                    </div>
                    <div class="form-group">
                        <span id="sameRe"></span>
                        <label for="confirm-password" style="width: 20rem;">Confirm new password</label>
                        {{!-- <i class="fa fa-eye" style="position: absolute;margin-top: 3rem;cursor: pointer;"></i>
                        --}}

                        <input type="password" class="form-control" id="confirm-password" name="confirmPassword"
                            placeholder="Confirm new password">
                    </div>
                    <button type="submit" onclick="return check()" class="btn btn-block"
                        style="background-color: black;color: white;">Change</button>

                </form>
            </div>
        </div>
    </div>
</section>
<div>
<!-- banner part start-->
<style>
    label {
        font-size: 1.5vw;
        font-weight: 500;
    }

    .image-container {
        position: relative;
    }

    .image-container img {
        display: block;
    }

    .image-container button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<script>
    function clickImg() {
        document.getElementById('click').click()
    }

    function viewimage(event) {
        document.getElementById('userImgView').src = URL.createObjectURL(event.target.files[0])
    }

    function check() {
        let newp = document.getElementById('new-password').value
        let con = document.getElementById('confirm-password').value
        if (newp.length >= 4) {
            document.getElementById('samePass').innerHTML = ''
            if (newp === con) {
                return true;
            } else {
                document.getElementById('sameRe').innerHTML = '&nbsp;Password must be same&nbsp;'
            }
        } else {
            document.getElementById('samePass').innerHTML = '&nbsp;Minimum 4 digits&nbsp;'
        }
        return false;
    }


    const myImage = document.querySelector('#userImgView');

// Use the cropped canvas

</script>