<head>
  <link rel="stylesheet" href="/stylesheets/user/mobile.css">
</head>

<section class="d-flex  flex-column justify-content-center align-items-center">
  <div
    class="container-fluid p-0 rounded-4  col-9 col-md-6 d-flex justify-content-md-end justify-content-center sec-1 position-relative"
    style="box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);">
    <div class="w-100 position-absolute"><a href="/login" style="text-decoration: none;">
        <h4 class="text-white mt-4 fw-bold text-center">Login <span class="fw-normal">or</span> Signup</h4>
      </a>
    </div>
    <div class="row m-2 align-items-center">
      <form class="me-4 mt-4 p-0 w-100 text-white " action="/password" method="get">
        <div class="mb-2">
          <label for="mobile" class="form-label">Mobile Number</label>
          <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile Number">
        </div>
          <span id="not" class="text-danger bg-white"></span>
        <div class="btnclass mt-2">
          <button type="submit" class="loginBtn border mb-4 text-white w-100 fs-6 fw-semibold"
            onclick="return isValid()">CONTINUE</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="/javascripts/mobile.js"></script>